html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
}

}

body {
    font-family: 'Lato', "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 5em 1em;
    background-color: #FFFFFF;
    overflow: auto;
}

html {
	line-height: 1.6;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
    color: 
}


img {
    margin: 0 auto;
    width: 100%
}

section {
    padding-top: 44px;
    padding-bottom: 44px;
}

.brownwhitebg {
    background-color: #EBE6E2;

}

.whitebg {
    background-color: #ffffff;
}

.redbg {
    color: #e81c4f;
}

.spacing {
    padding: 44px;
}

.contentwidth {
    max-width: 95%;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #CDD1D1;
}

.fullpage {
    height: 100%;
}


.patty {
    width: 32px;
    height: 3px;
    background-color: #282828;
    margin: 4px 0px
}

.nav-links {
    margin: auto;
    width: 50%;
    font-size: 50px;
}

.closed {
    display: none;
}
