body {
    
    font-family: 'Lato', "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 5em 1em;
}

img {
    margin: 0 auto;
    width: 100%
}

section {
    padding-top: 44px;
    padding-bottom: 44px;
}
