html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
    line-height: 1.6;
    overflow: hidden;
}

body {
    font-family: 'Lato', "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 10em 1em;
    background-color: #FFFFFF;
}


html, body, div, p, a, span, section {
    font-family: 'Lato', "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}


h1, h2, h3, h4, h5 {
	line-height: 1.2;
}

img {
    margin: 0 auto;
    width: 100%
}

section {
    padding-top: 100px;
    padding-bottom: 44px;
}


.bottomspacing {
    padding-bottom: 44px;
}


a:link, a:visited { 
    color: #EBE6E2;
    font-weight: 700;
    text-decoration: none;
    cursor: auto;
}

div a:hover {
    color: #E5658A;
    opacity: 0.; 
}

a:link:active, a:visited:active { 
    color: (internal value);
}


.brownwhitebg {
    background-color: #F2F2F2;

}

.whitebg {
    background-color: #ffffff;
}

.redbg {
    color: #e81c4f; 
}

.spacing {
    padding: 44px;
}

.contentwidth {
    max-width: 95%;
}


/*nav styles */
nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.fullpage {
    height: 100%;
    background-color: #e81c4f;
    opacity: 0.95;
    overflow:hidden;
}


.patty {
    width: 20px;
    height: 3px;
    background-color: #282828;
    margin: 4px 0px
}

.nav-links {
    margin: auto;
    width: 90%;
    font-size: 40px;
    padding: 7.5% 1%
}

.closed {
    display: none;
}

.nav-burger-holder {
    margin: 10% 10%;
}
/* end nav styles */
.line {
    height: 2px;
    width: 75%;
    background-color: #ffffff;
    opacity: 0.75
}

.link-div {
    margin-top: 30px;
}

.lower-nav-links {
    margin: 70px 0;
}

.accentfont {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 100;
    font-size: 20px;
}



/*footer styles */

i {
    padding: 20px;
}

#emailfooter {
    color: #e81c4f;
}

#emailfooter:hover {
    color: #e81c4f;
    opacity: 0.4;
}


#footernote {
    margin: auto 0;
    width: 100%;
    text-align: center;
}

#copyright {
    font-size: 12px;
    opacity: 0.8;
}

#redfix {
    color: #e81c4f;
}

.lineDivd {
    height: 1px;
    width: 100%;
    background-color: #424242;
    opacity: 0.6;
    margin-top: 44px;
    margin-bottom: 44px;
}


.full-width-image {
    background-color: red;
    width: 100%;
    height: auto;
}

.half-width-image {
    background-color: red;
    width: 100%;
    height: auto;
}
